main.flexContainer{
    flex-direction: column;
    align-items: flex-start;
    height: 1000px;
}
main p{
    font-family: 'roboto', sans-serif;
    font-weight: lighter;
    font-style: normal;
    text-align: center;
    font-size: 28px;
    line-height: 30px;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #ffff;
    border: 0px ;
    margin-top: 80px;   
}